.medium-green-btn {
  background-color: #4e802a;
}

.button-highlight::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  top: -55px;
  right: 8px;
}

.speechbubble::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: var(--primary-green) transparent;
  display: block;
  width: 0;
  z-index: 1;
}

.topRight::after {
  top: -10px;
  border-width: 0 10px 10px;
  right: 20px;
}

.top::after {
  top: -10px;
  border-width: 0 10px 10px;
}

.bottom::after {
  bottom: -10px;
  border-width: 10px 10px 0;
}
